nav {
	margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #000000;
    border-radius: 8px;
    font-size: 0;
    border: 1px #00fbac solid;

}
nav a {
	line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    color: #00fbac;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #d200fc;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #f81a01;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #0095f8;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #03fca9;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #ff7700;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
h1 {
	text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
    color: #00fbac;
}

p {
	text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    font-size: 16px;
    text-shadow: 2px 2px 4px #00fbac;
}

span {
    color: #00fbac;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 10px #00fbac);
}


* {
	margin: 0;
	padding: 0;

  }

  canvas#canvas {
	display: block;
    background: #000;
    position: fixed;
    top: 0;
    z-index: -1;
  }

  ul#navigation {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	text-align: center;
	margin-right: 1%;
	font-size: 0.8rem;
	-webkit-writing-mode: vertical-rl;
		-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
  }

  ul#navigation > li {
	display: inline-block;
	color: #FFF;
  }

box{
	height: 200px;
    width: 200px;
    border: 1px solid #333;
    transition: all 0.4s ease;
    display: block;
    background: wheat;
    border-radius: 5px;
    margin-left: 10%;
    position: relative;
    top: 5%;
}

.input{
	width: 199px;
    height: 22px;
    border-radius: 6px;
    margin-left: 10%;
    margin-top: 7%;
}

.divBox{
    height: 250px;
    width: 250px;
    background-color: white;
    margin-left: 45%;
    margin-top: 1%;
    border-radius: 5%;
    border: 1px solid #000000;
}
@media (max-width: 1010px) {
    .divBox {
        margin-left: 37%;
    }
}
@media (max-width: 700px) {
    .divBox {
        margin-left: 30%;
    }
}
@media (max-width: 650px) {
    .divBox {
        margin-left: 30%;
    }
    nav {
        margin: 27px auto 0;
        position: relative;
        width: 300px;
        height: 50px;
        background-color: #000000;
        border-radius: 8px;
        font-size: 0;
        border: 1px #00fbac solid;
    }
    nav a {
        line-height: 47px;
        height: 100%;
        font-size: 9px;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: white;
        cursor: pointer;
        color: #00fbac;
    }
    a:nth-child(1) {
        width: 60px;
    }
    a:nth-child(2) {
        width: 60px;
    }
    a:nth-child(3) {
        width: 60px;
    }
    a:nth-child(4) {
        width: 60px;
    }
    a:nth-child(5) {
        width: 60px;
    }
    nav .start-home, a:nth-child(1):hover~.animation {
        width: 60px;
    }
    nav .start-home, a:nth-child(1):hover~.animation {
        width: 60px;
        left: 0;
        background-color: #d200fc;
    }
    nav .start-about, a:nth-child(2):hover~.animation {
        width: 60px;
        left: 60px;
        background-color: #f81a01;
    }
    nav .start-blog, a:nth-child(3):hover~.animation {
        width: 60px;
        left: 120px;
        background-color: #0095f8;
    }
    nav .start-portefolio, a:nth-child(4):hover~.animation {
        width: 60px;
        left: 180px;
        background-color: #03fca9;
    }
    nav .start-contact, a:nth-child(5):hover~.animation {
        width: 60px;
        left: 240px;
        background-color: #ff7700;
    }
}
@media (max-width: 600px) {
    .divBox {
        margin-left: 27%;
    }
}
@media (max-width: 520px) {
    .divBox {
        margin-left: 24%;
    }
}
@media (max-width: 450px) {
    .divBox {
        margin-left: 24%;
    }
    .divBox {
        height: 200px;
        width: 150px;
        background-color: white;
        margin-top: 1%;
        border-radius: 5%;
        border: 1px solid #000000;
    }
    box {
        height: 150px;
        width: 118px;
        border: 1px solid #333;
        transition: all 0.4s ease;
        display: block;
        background: wheat;
        border-radius: 5px;
        margin-left: 10%;
        position: relative;
        top: 5%;
    }
    .input {
        width: 114px;
        height: 22px;
        border-radius: 6px;
        margin-left: 10%;
        margin-top: 10%;
        font-size: 10px;
    }
}
@media (max-width: 315px) {
    p{
        font-size: 111%;
    }
    ul#navigation {
        margin-right: -5%;
    }
}
@media (max-width: 273px) {
    ul#navigation {
        margin-right: -11%;
    }
}
@media (max-width: 251px) {
    ul#navigation {
        margin-right: -20%;
    }
}
@media (max-width: 215px) {
    ul#navigation {
        margin-right: -41%;
    }
}
@media (max-width: 208px) {
    ul#navigation {
        margin-right: -48%;
    }
}
ul {
    list-style: none;
  }
  .context-menu {
    position: absolute;
    box-shadow: 0px 0px 20px -5px black;
  }
  .menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
  }
  .menu > li > a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 73%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
  }
  .menu > li > a:hover {
    background:#f1f3f7;
    color: #4b00ff;
  }
  .menu > li > a > i {
    padding-right: 10px;
  }
  .menu > li.trash > a:hover {
    color: red;
  }
  .fist_a{
    padding-top: 20px;
    border-radius: 10px 15px 0px 0px;
  }
  .last_a{
    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
  }
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  padding-right: 4%;
}

.switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(12 12 12);
    position: relative;
    border: 1px solid #00fbac ;
    transition: 0.3s;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-image: linear-gradient(45deg, #287502, #039708, #287502);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
  transition: 0.3s;
}
.fa{
  color: black;
}
.dark .switch{
  transition: 0.3s;
}
.dark .sun{
  width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 20px yellow;
    position: absolute;
    top: 10px;
    left: 13px;
    background-color: yellow;
    transition: 0.3s;
}
.sun{
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 0, 0);
    background-color: rgba(255, 255, 0, 0);
    transition: 0.3s;
}