
nav {
	margin: 7% auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    font-size: 0;
    border: 1px black solid;
    transition: 0.3s;
    z-index: 2;

}
nav a {
	line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #d200fc;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #f81a01;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #0095f8;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #5dbe7a;;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #ff7700;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
h1 {
    margin: 0px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
    color: #00fbac;
    position: absolute;
    left: 40%;
    right: 40%;
}

p {
	text-align: center;
    color: black;
    font-family: 'Cherry Swash', cursive;
    font-size: 16px;
    text-shadow: 2px 2px 4px #00fbac;
}

span {
    color: black;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 10px black);
}


* {
	margin: 0;
	padding: 0;

  }

  canvas#canvas {
	display: block;
    background: #ffffff;
    position: fixed;
    top: 0;
    z-index: -1;
    transition: 0.3s;
  }

  ul#navigation {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	text-align: center;
	margin-right: 1%;
	font-size: 0.8rem;
	-webkit-writing-mode: vertical-rl;
		-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
  }

  ul#navigation > li {
	display: inline-block;
	color: black;
    transition: 0.3s;
  }

box{
	height: 200px;
    width: 200px;
    border: 1px solid #333;
    transition: all 0.3s ease;
    display: block;
    background: wheat;
    border-radius: 5px;
    margin-left: 10%;
    position: relative;
    top: 5%;
}

.input{
	width: 199px;
    height: 22px;
    border-radius: 6px;
    margin-left: 10%;
    margin-top: 7%;
}

.divBox{
    height: 250px;
    width: 250px;
    background-color: white;
    margin-left: 45%;
    margin-top: 1%;
    border-radius: 5%;
    border: 1px solid #000000;
}

@media (max-width: 1010px) {
    .divBox {
        margin-left: 37%;
        margin-top: 1%;
    }
}
@media (max-width: 845px) {
    h1{
        font-size: 24px;
    }
}
@media (max-width: 700px) {
    .divBox {
        margin-left: 30%;
    }
}
@media (max-width: 650px) {
    .divBox {
        margin-left: 30%;
    }
    h1{
        font-size: 20px;
        margin-top: 1%;
    }
    nav {
        margin: 15% auto 0;
        position: relative;
        width: 300px;
        height: 50px;
        border-radius: 9.5px;
        font-size: 0;
        border: 1px #00fbac solid;
    }
    nav a {
        line-height: 47px;
        height: 100%;
        font-size: 9px;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: white;
        cursor: pointer;
        color: #00fbac;
    }
    a:nth-child(1) {
        width: 60px;
    }
    a:nth-child(2) {
        width: 60px;
    }
    a:nth-child(3) {
        width: 60px;
    }
    a:nth-child(4) {
        width: 60px;
    }
    a:nth-child(5) {
        width: 60px;
    }
    nav .start-home, a:nth-child(1):hover~.animation {
        width: 60px;
    }
    nav .start-home, a:nth-child(1):hover~.animation {
        width: 60px;
        left: 0;
        background-color: #d200fc;
    }
    nav .start-about, a:nth-child(2):hover~.animation {
        width: 60px;
        left: 60px;
        background-color: #f81a01;
    }
    nav .start-blog, a:nth-child(3):hover~.animation {
        width: 60px;
        left: 120px;
        background-color: #0095f8;
    }
    nav .start-portefolio, a:nth-child(4):hover~.animation {
        width: 60px;
        left: 180px;
        background-color: #5dbe7a;
    }
    nav .start-contact, a:nth-child(5):hover~.animation {
        width: 60px;
        left: 240px;
        background-color: #ff7700;
    }
}
@media (max-width: 600px) {
    .divBox {
        margin-left: 27%;
    }
    h1 {
        font-size: 18px;
        margin-top: 2%;
    }
}
@media (max-width: 520px) {
    .divBox {
        margin-left: 24%;
    }
    h1{
        font-size: 17px;
        margin-top: 3%;
    }
}
@media (max-width: 460px) {
    .divBox {
        margin-left: 24%;
    }
    .divBox {
        height: 200px;
        width: 150px;
        background-color: white;
        margin-top: 1%;
        border-radius: 5%;
        border: 1px solid #000000;
    }
    box {
        height: 150px;
        width: 118px;
        border: 1px solid #333;
        transition: all 0.3s ease;
        display: block;
        background: wheat;
        border-radius: 5px;
        margin-left: 10%;
        position: relative;
        top: 5%;
    }
    .input {
        width: 114px;
        height: 22px;
        border-radius: 6px;
        margin-left: 10%;
        margin-top: 10%;
        font-size: 10px;
    }
    h1{
        font-size: 13px;
        margin-top: 3%;
    }
}
@media (max-width: 340px) {
    p{
        font-size: 111%;
    }
    ul#navigation {
        margin-right: -5%;
    }
    h1 {
        font-size: 11px;
        margin-top: 4%;
    }
}
@media (max-width: 273px) {
    ul#navigation {
        margin-right: -11%;
    }
}
@media (max-width: 251px) {
    ul#navigation {
        margin-right: -20%;
    }
}
@media (max-width: 215px) {
    ul#navigation {
        margin-right: -41%;
    }
}
@media (max-width: 208px) {
    ul#navigation {
        margin-right: -48%;
    }
}
ul {
    list-style: none;
  }
  .context-menu {
    position: absolute;
    box-shadow: 0px 0px 20px -5px black;
    z-index: 3;
  }
  .menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
  }
  .menu > li > a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 73%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
  }
  .menu > li > a:hover {
    background:#f1f3f7;
    color: #4b00ff;
  }
  .menu > li > a > i {
    padding-right: 10px;
  }
  .menu > li.trash > a:hover {
    color: red;
  }
  .fist_a{
    padding-top: 20px;
    border-radius: 10px 15px 0px 0px;
  }
  .last_a{
    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
  }
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  padding-right: 4%;
  padding-top: 4px;
}

.switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(12 12 12);
    position: relative;
    border: 1px solid white ;
    transition: 0.3s;
    cursor: pointer;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
  transition: 0.3s;
}
.fa{
  color: black;
}
.dark .switch{
  transition: 0.3s;
}
.dark .sun{
  width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 20px yellow;
    position: absolute;
    top: 10px;
    left: 13px;
    background-color: yellow;
    transition: 0.3s;
    opacity: 1;
}
.sun{
    opacity: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 0, 0);
    position: absolute;
    top: 10px;
    left: 13px;
    background-color: yellow;
    transition: 0.3s;
}
.dark canvas#canvas {
    background: black;
    transition: 0.3s;
}
.dark nav{
    background-color: black;
    border: 1px #00fbac solid;
    transition: 0.3s;
}
.dark nav a {
    color: #00fbac;
    transition: 0.3s;
}
.dark ul#navigation > li {
    color: white;
    transition: 0.3s;
}
.dark span {
    color: #00fbac;
    filter: drop-shadow(0px 0px 10px #00fbac);
    transition: 0.3s;
}
.dark p {
    color: #ecf0f1;
}
.dark .switch {
    border: 1px solid #00fbac ;
    transition: 0.3s;
}
.mbi{
    margin-left: 1%;
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    width: 7px;
    text-align: center;
    height: 10px;
    cursor: pointer;
    transition: 0.3s;
    top: 160px;
    font-size: 13px;
}
.mbiImg{
    background-image: url(../image/Free-BMI-Calculator-Blog-Cover.jpg);
    width: 75%;
    height: 75%;
    background-size: contain;
    background-repeat: no-repeat;
}
@keyframes move {
    from {top: -100px;}
    to {top: 160px;}
  }
@keyframes moveend {
    from {top: 160px;}
    to {top: -100px;}
  }

.X{
    position: absolute;
    right: 3%;
    font-size: 15px;
    cursor: pointer;
}
.MBIa{
    color: black;
    text-decoration: unset;
    transition: 0.3s;
}
@media (max-width: 3000px) {
    .mbi{
        width: 100px;
        height: 85px;
    }
    .mbiImg{
        width: 75%;
        height: 62%;
    }
}
@media (max-width: 1500px) {
    .mbi{
        width: 100px;
        height: 85px;
    }
    .mbiImg{
        width: 75%;
        height: 62%;
    }
}
@media (max-width: 450px) {
    .mbi{
        width: 58px;
        height: 54px;
        font-size: 7px;
    }
    .mbiImg{
        width: 75%;
        height: 60%;
    }
    .X{
        font-size: 9px;
    }
}
.dark .mbi{
    background-color: black;
    color: #00fbac;
    border: 1px solid #00fbac;
    transition: 0.3s;
}
.dark .MBIa{
    color: #00fbac;
    transition: 0.3s;
}
#mainNav {
	display: flex;
	justify-content: flex-end;
	padding:  0px 16px;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #eee;
	transition: background 0.3s;
    margin-top: 0px;
    border: 0px;
    border-bottom: 1px solid black;
    border-radius: 0px;
}

section {
	height: 300px;
	font-size: 20px;
}

section:nth-of-type(1) {
	margin-top: 84px;
}
.dark #mainNav {
    background-color: black;
    transition: 0.3s;
    border: 0px;
    border-bottom: 1px solid #00fbac;
}
.headerProfile{
    left: 0px;
    position: absolute;
}
.profile{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    border: 1px solid black;
    transition: 0.3s;
    cursor: pointer;

}
.border{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(0 0 0);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow: inset 4px 4px 4px rgb(55 52 52), inset -4px -4px 4px rgb(68 67 69 / 90%);
}
.headProfile{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 0px black;
    position: absolute;
    top: 8px;
    left: 12.5px;
    background-color: #ffffff;
    transition: 0.3s;
}
.bodyProfile{
    width: 20px;
    height: 14px;
    box-shadow: inset 0px 0px 5px 0px black;
    position: absolute;
    top: 21px;
    left: 10px;
    background-color: white;
    transition: 0.3s;
    border-radius: 8px 8px 17px 16px;
}
.dark .profile{
    background-color: rgb(12 12 12);
    border: 1px solid #00fbac;
    transition: 0.3s;
}
.dark .border{
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    box-shadow: inset 4px 4px 4px rgb(255, 255, 255), inset -4px -4px 4px rgb(195 193 198 / 90%);
}
.dark .headProfile{
    box-shadow: inset 0px 0px 11px 0px white;
    background-color: #000000;
    transition: 0.3s;
}
.dark .bodyProfile {
    box-shadow: inset 0px 0px 11px 0px white;
    background-color: black;
    transition: 0.3s;
}
:root{
    --theme-color: #ff1756;
}
body{
    background-color: #fafafa;
}
.container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 53%;
    left: 54%;
    border-radius: 6px;
    font-family: arial;
    position: relative;
    animation: 0.5s drop;
    transition: 0.3;
}
.card{
    height: 420px;
    width: 320px;
    background: linear-gradient(
        to bottom,
        var(--theme-color) 110px,
        #ffffff 110px
    );
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(50,50,50,0.1);
    padding: 50px 0;
    transition: 0.3;
    border: 1px solid #000000;
}
.card *{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.ImgPr{
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 0 8px #ffffff;
    transition: 0.3;
}
.card h4{
    color: var(--theme-color);
    font-size: 16px;
    margin: 15px 0 5px 0;
}
.card h5{
    color: #454545;
    font-weight: 400;
    font-size: 14px;
    transition: 0.3;
}
.details{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.details h2{
    font-weight: 400;
    transition: 0.3;
}
.details span{
    color: var(--theme-color);
    transition: 0.3;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.buttons button{
    width: 130px;
    padding: 8px 0;
    border-radius: 25px;
    border: 3px solid var(--theme-color);
}
.buttons button:first-child{
    background-color: var(--theme-color);
    color: #ffffff;
}
.buttons button:last-child{
    background-color: transparent;
    color: var(--theme-color);
}
.themes{
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(50,50,50,0.1);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    transition: 0.3;
}
.themes button{
    height: 25px;
    width: 25px;
    border: 3px solid #dddddd;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}
.btn1{
    background-color: #3498db;
}
.btn2{
    background-color: #ff1756;
}
.btn3{
    background-color: #1cb65d;
}
.btn4{
    background-color: #8e44ad;
}
.btn5{
    background-color: #f4b932;
}
.modal-parent{
    position: fixed;
    top: 0;
    left: 0;
    height: 52%;
    width: 333px;
    display: none;
    z-index: 1;
    margin-top: 50px;
}
section{
transition: 0.3s;
}
.dark .card {
    background: linear-gradient(to bottom, var(--theme-color) 110px, #000000 110px);
    transition: 0.3;
    border: 1px solid #00fbac;
}
.dark .details h2 {
    color: white;
    transition: 0.3;
}
.dark .card h5 {
    color: white;
    transition: 0.3;
}
.dark .themes {
    background-color: #3b3b3b;
    transition: 0.3;
    z-index: 2;
}
.dark .ImgPr {
    box-shadow: 0 0 0 8px #000000;
    transition: 0.3;
}
.XProfile{
    position: absolute;
    right: 5%;
    font-size: 30px;
    cursor: pointer;

}
@keyframes moveProfile {
    from {top: -700px;}
    to {top: 0px;}
  }
@keyframes moveendProfile {
    from {top: 0px;}
    to {top: -700px;}
  }
.modal-parent1{
    position: fixed;
    top: 0;
    left: 0;
    height: 52%;
    width: 333px;
    display: block;
    z-index: 3;
    margin-top: 50px;
}